.services {
  padding: 50px;
  background-color: #f5e9f7;
  text-align: center;
}

.services h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.service {
  text-align: center;
  width: 300px;
  margin-bottom: 30px;
}

.service img {
  width: 100%;
  height: auto;
}

.service h3 {
  font-size: 1.5rem;
  margin-top: 10px;
}

.service p {
  font-size: 1.2rem;
  color: #777;
}
