.classes {
  text-align: center;
  padding: 50px;
  background-color: #f7f7f7;
}

.classes-header {
  width: 60%;
  margin: 0 auto;
}

.classes-header h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.classes-header p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.classes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 40px 0;
}

.classes-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  margin-bottom: 40px;
}

.class-card {
  width: 300px;
  max-width: 400px;
  background: transparent;
  padding: 20px;
  margin-bottom: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease;
}

.class-card img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.class-card h3 {
  font-size: 1.5rem;
  margin-top: 15px;
}

.class-card-divider {
  margin: 20px 0;
  color: #CECECE;
}

.class-card p {
  font-size: 1rem;
  margin: 10px 0;
}

.class-button {
  align-self: flex-start;
}
