.classes {
  text-align: center;
  padding: 50px;
  background-color: #f7f7f7;
}

.classes-header {
  width: 60%;
  margin: 0 auto;
}

.classes-header h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.classes-header p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.classes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 40px 0;
}

.classes-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  margin-bottom: 40px;
}
