.products-section {
  padding: 50px;
  background-color: #eaeaea;
  text-align: center;
}

.products-header {
  width: 60%;
  margin: 0 auto;
}

.products-header h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.products-header p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.products {
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
}

.product-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 80px;
  justify-content: center;
  margin-bottom: 40px;
}
