.classes-page {
  margin-top: 110px;
  padding: 100px;
}

.classes-page-header {
  color: #777;
  margin: 20px;
  width: 60%;
}

.classes-page-header h1 {
  font-size: 2rem;
  margin: 0 0 10px 0;
  color: black;
}

.classes-page-header p {
  font-size: 0.9rem;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.classes-page-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 60px;
  padding: 20px;
  margin: 60px 0;
}
