.iching-cards-instructions-page {
  margin-top: 110px;
  padding: 50px 0;
  background-color: #EAEAEA;
}

.iching-cards-instructions-page-header {
  background-image: url('/public/I Ching Cards crop header.jpg');
  color: white;
  padding: 3%;
  min-height: 40%;
  text-align: center;
}

.iching-cards-instructions-page-header h1 {
  background-color: #EFE5D8;
  color: #24253A;
  width: 60%;
  margin: 30px auto;
}

.iching-cards-instructions-page-section:first-child {
  margin-top: 20px;
}

.iching-cards-instructions-page-section {
  padding: 30px;
  margin: 10px 0;
  display: flex;
}

.iching-cards-instructions-page-text-column, .iching-cards-instructions-page-text {
  width: 50%;
  padding: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.iching-cards-instructions-page-video-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.iching-cards-instructions-page-text h4 {
  margin-bottom: 5px;
}

.iching-cards-instructions-page-card {
  min-width: 55px;
  max-width: 55px;
  min-height: 75px;
  max-height: 75px;
  text-align: center;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vertical-writing {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.iching-card-spread-cards-container.grid-flex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.iching-card-spread-container {
  padding: 30px;
  margin: 10px 0;
}

.iching-card-spread-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}

.iching-card-spread-grid {
  background: transparent;
  padding: 20px;
  margin-bottom: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
}

.iching-card-spread-grid ul, .iching-card-spread-grid p {
  margin: 5px 3px;
}

.iching-card-spread-cards-container {
  display: flex;
  margin: 20px 0;
}

.iching-card-spread-section-container ul {
  width: 70%;
}

.iching-card-spread-section-container ul ul {
  list-style: none;
}

.iching-card-spread-section-container img {
  max-width: 90%;
}

.iching-cards-instructions-page-next-steps a {
  color: #ED5B20;
}
