.details-view-container {
  margin: 110px auto;
  max-width: 900px;
  padding: 100px 50px;
}

.details-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 50px
}

.details-view-carousel {
  width: 35%;
}

.carousel-image, .details-view-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

/* Custom slick styling */
.slick-prev:before, .slick-next:before {
  color: #ff6600;
}

.slick-dots li button:before {
  color: #494949;
}

.slick-dots li.slick-active button:before {
  color: #ff6600;
}
/* End: Custom slick styling */

.details-view-info {
  width: 50%;
  margin: 0 50px;
}

.details-view-info h1 {
  font-size: 1.5rem;
  /* margin: 0 10px 20px 10px; */
  margin-bottom: 20px;
  font-weight: 200;
}

.details-view-price {
  display: flex;
  align-items: flex-start;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: fit-content;
}

.details-view-price p:nth-child(1) {
  border-right: 1px solid #ddd;
  margin-left: 10px;
  padding: 10px 10px 10px 5px;
}

.details-view-price p:last-child {
  margin-right: 10px;
  padding: 10px 5px 10px 10px;
}

.details-view-price p {
  font-size: 1rem;
  font-weight: 100;
  margin: 0;
}

.details-view-btn {
  padding: 10px 20px;
  font-size: 1rem;
  width: 100%;
}

.details-view-contacts {
  margin-top: 40px;
  border-top: 1px solid #ddd;
  padding: 20px;
}

.details-view-contact-info {
  width: 70%;
}

.details-view-contact-info p {
  font-size: 1rem;
  margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .details-view {
    flex-direction: column;
  }

  .details-view-image, .details-view-info {
    width: 100%;
    margin-bottom: 20px;
  }

  .details-view-info h1 {
    font-size: 1.5rem;
  }
}
