/* body {
  font-family: Arial, sans-serif;
}

main {
  padding: 1rem;
}

footer {
  background-image: linear-gradient(45deg, #fbd4ed, #C9E8E9, #F8F7E2);
  color: white;
  text-shadow: #9e9a9a 0 0 5px;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  bottom: 0;
} */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Playfair+Display:wght@400;700&family=Lato:wght@400;700&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  letter-spacing: 1px;
}

h1 {
  font-size: 3rem;
}

.App {
  font-family: 'Avenir', sans-serif;
  color: #333;
  line-height: 1.6;
}
